.proximity-panel {
    
    .token-controls {
        display: flex;
        padding-left: 30px;

        span {
            padding: 0 10px;
            align-items: center;
            display: inline-flex;
        }

        >.bx--form-item {
            padding: 0 0;
            flex: 0;
        }

        .number-range {
            max-width: 100px;

            input {
                padding-right: 2rem;
                min-width: 100px;
            }
        }
    }
}