.regex-panel {
  height: 100%;

  .bx--tab-content {
    height: 100%;
  }

  .regex-panel-contents {
    height: 100%;

    > .bx--form-item {
      padding: 1rem 0;
    }

    .token-range {
      padding: 1rem 0;

      .token-controls {
        display: flex;
        padding-left: 30px;

        span {
          padding: 0 10px;
          align-items: center;
          display: inline-flex;
        }

        > .bx--form-item {
          padding: 0 0;
          flex: 0;
        }

        .number-range {
          max-width: 100px;

          input {
            padding-right: 2rem;
            min-width: 100px;
          }
        }
      }
    }

    .chk-series {
      > .bx--form-item {
        padding: 0 0;
      }
    }
  }
  .nlp-results {
    overflow-y: auto;
    height: 70vh;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
