.document-viewer {
  min-width: 500px;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    background-color: #e0e0e0;
    padding: 0.8rem 0.5rem;

    .title {
      display: inline-flex;
      align-items: center;
      color: rgb(0, 67, 206);
      font-size: 1.3rem;
      font-weight: 500;
      margin-left: 0.2rem;
      flex-grow: 1;
    }

    .doc-viewer-icon {
      fill: rgb(0, 67, 206);
    }

    .doc-viewer-close {
      cursor: pointer;
    }
  }

  .skeleton {
    margin-top: 100px;
  }
}
