@import 'carbon-components/scss/globals/scss/typography';

@import 'carbon-components/css/carbon-components.min.css';
@import '@elyra/canvas/dist/styles/common-canvas.min.css';

html {
  height: 100%;

  div#root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
