// import Carbon styles here
@import 'carbon-components/scss/globals/scss/styles';
@import '@elyra/canvas/dist/styles/common-canvas.min.css';

html {
  height: 100%;

  div#root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

body {
  height: 100%;
  overflow: hidden;
}
